@model Kontrol.ViewModels.ViewFile;
@{
    ViewData["Title"] = "View File";
}

<div class="text-center">
    <h1 class="display-4">View File</h1>
    @if (Model.fileFound)
    {
        <h2>@Model.filePath</h2>
        <i class="fas fa-level-up-alt"></i>
        <a asp-action="ViewParentDirectory" asp-route-path="@Model.filePath">View parent directory</a>
        <br />
        <br />
        <p class="raw-text">@Model.fileContent</p>
    }
    else if (Model.filePath.Length > 0)
    {
        <p>@Model.filePath was not found</p>
        <a href="javascript:history.back()">Go back</a>
    }
    else if (!Model.fileAccessible)
    {
        <p>Insufficient permissions to view this file</p>
        <a href="javascript:history.back()">Go back</a>
    }
    else
    {
        <p>No file entered</p>
        <a href="javascript:history.back()">Go back</a>
    }
</div>
