@model Accounts.TemplateDataClasses.Base;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Accounts test</h1>
    @if (Model.loggedIn)
    {
        <p>If you can see this then you are logged in</p>
    }
    else
    {
        <p>You are not logged in</p>
    }
</div>
